bin-booking {
    display: block;
    background: lighten(@gray-base, 5%);
    padding-top: @section-padding-xs;
    padding-bottom: @section-padding-xs;
    .form-group {
        text-align: left;
    }
    form {
        max-width: 350px;
        margin: 0 auto;
    }
    @media (min-width: @screen-sm-min) {
        padding-top: @section-padding-sm;
        padding-bottom: @section-padding-sm;
        form {
            max-width: 100%;
        }
    }
}